<% release_dir = if assigns[:release_dir], do: @release_dir, else: "/srv/#{@app}/release" %>
[Unit]
Description=<%= @app %> service
After=local-fs.target network.target

[Service]
Type=simple
WorkingDirectory=<%= release_dir %>

<%= if assigns[:custom_start_command] do %>
ExecStart=<%= @custom_start_command %>
<% else %>
ExecStart=<%= release_dir %>/bin/<%= @app %> start
<% end %>

<%= if assigns[:custom_stop_command] do %>
ExecStop=<%= @custom_stop_command %>
<% else %>
ExecStop=<%= release_dir %>/bin/<%= @app %> stop
<% end %>

Environment=LANG=en_US.utf8
EnvironmentFile=/srv/<%= @app %>/env
LimitNOFILE=65535
UMask=0027
SyslogIdentifier=<%= @app %>
Restart=no
ExecStopPost=/usr/bin/systemctl poweroff

[Install]
WantedBy=multi-user.target
